.page-enter-active, .page-leave-active {
  transition: opacity .5s
}
.page-enter, .page-leave-active {
  opacity: 0
}

.page-leave-active.page-leave-to {
  height: 100vh;

  .tomo-body-wrapper--home & {
    height: auto;
  }
}
