.tomo-body-wrapper {
  margin-top: 50px;

  &--home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 80px - 104px);

    @include media-breakpoint-up(md) {
      height: calc(100vh - 60px - 53px);
    }

    @include media-breakpoint-up(lg) {
      height: calc(100vh - 60px - 83px);
    }
  }
}