.breadcrumb.tomo-breadcrumb {
  background-color: transparent;
  padding: 0px;
  margin-bottom: 30px;

  .breadcrumb-item {
    vertical-align: middle;
    text-overflow: ellipsis;

    &:before {
      content: '\f105';
      @extend %fa-icon;
    }

    &:first-child:before {
      display: none;
    }

    &:last-child a {
      color: $color-primary;
    }
  }

  @include media-breakpoint-up(sm) {
    margin-bottom: 0;
  }
}