.tomo-card {
  border: none;
  border-radius: 10px;
  box-shadow: 8px 8px 40px 0 rgba(0, 0, 0, .07);
  padding: 20px;
  margin-bottom: 50px;

  @include media-breakpoint-up(md) {
    padding: 40px;
  }

  &__header {
    text-align: center;
    position: relative;
    margin-bottom: 20px;

    @include media-breakpoint-up(md) {
      text-align: left;

      .block-breadcrumb {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }

  &__headline {
    font-size: 24px;
    font-weight: 500;
    color: #000;
    word-break: break-all;
    margin-top: 10px;
    margin-bottom: 15px;

    @include media-breakpoint-up(md) {
      display: inline-block;
      max-width: 60%;
      vertical-align: middle;
      margin-left: 30px;
    }
  }

  &__table {
    width: 100%;

    tr {
      display: grid;
      grid-template-columns: 40% auto;
      grid-gap: 15px;
      margin-bottom: 15px;
    }

    td {
      word-break: break-word;

      &:first-child {
        text-align: right;
      }

      &:last-child {
        color: $color-text-2;
      }
    }

    a {
      color: $color-primary;
    }

    @include media-breakpoint-up(sm) {

      tr {
        grid-template-columns: 30% auto;
      }

      .tomo-readmore {
        max-width: 90%;
        vertical-align: top;
      }
    }

    @include media-breakpoint-up(md) {

      tr {
        grid-template-columns: 20% auto;
        margin-bottom: 30px;
      }

      td:first-child {
        text-align: left;
      }
    }

    @include media-breakpoint-up(xl) {
      width: 80%;

      tr {
        grid-template-columns: 15% auto;
      }
    }

    @include media-breakpoint-up(xxl) {
      width: 70%;
    }
  }
}