.dropdown-menu {
  border: none;
  transition: all .5s ease-in;

  .tomo-nav & {

    @include media-breakpoint-down(md) {
      border-top: 1px solid #e6e6e6;
      background-color: #f1f1f1;
      margin-top: 0;
      padding: 0;
    }

    @include media-breakpoint-up(lg) {
      padding: 0 30px;
      box-shadow: 1px 2px 40px 0 rgba(0, 0, 0, .09);
      border-radius:8px;
    }
  }
}

.dropdown-item {

  .tomo-nav & {
    font-size: 14px;
    color: $color-text;

    &:hover,
    &:focus {
      color: $color-primary;
      outline: none;
    }

    @include media-breakpoint-down(md) {
      border-bottom: 1px solid #e6e6e6;
      padding: 8px 0 8px 20px;

      &:last-child {
        border-bottom: 0;
      }

      &:hover,
      &:focus {
        background-color: #f1f1f1;
      }
    }

    @include media-breakpoint-up(lg) {
      padding: 15px 0;
      background-color: #fff;
      border-bottom: 1px solid #e6e6e6;
  
      &:hover,
      &:focus {
        background-color: #fff;
      }
  
      &:last-child {
        border: none;
      }
    }
  }
}