.tomo-loading {
  &:before {
    content: url('~/assets/img/loading.svg');
    display: inline-block;
    vertical-align: middle;
  }
}

.tomo-loading--full {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  height: calc(100vh - 80px - 104px);

  &:before {
    content: url('~/assets/img/tomo-loading.svg');
    opacity: .3;
    height: 40px;
    width: 40px;
  }

  @include media-breakpoint-up(md) {
    height: calc(100vh - 60px - 53px);

    &:before {
      height: 60px;
      width: 60px;
    }
  }

  @include media-breakpoint-up(lg) {
    height: calc(100vh - 60px - 160px - 83px);
  }
}