.tomo-modal {
  .modal-content {
    border: none;
    border-radius:10px;
    box-shadow: 8px 8px 40px 0 rgba(0, 0, 0, .07);
    padding: 20px;

    h5:before {
      display: inline-block;
      vertical-align: middle;
      width: 50px;
      margin-right: 15px;

      @include media-breakpoint-up(lg) {
        width: 80px;
        margin-right: 25px;
      }
    }

    @include media-breakpoint-up(lg) {
      padding: 40px;
    }
  }

  .modal-header {
    border: none;
    padding: 0;
    margin-bottom: 20px;

    .close {
      cursor: pointer;
      background-color: transparent;
      border: none;
      padding: 0;
      margin: -5px;
      font-size: 0;

      &:before {
        content: '\e904';
        opacity: .6;
        font-size: 20px;

        @extend %tm-icon;
      }

      @include media-breakpoint-up(lg) {
        margin: -25px;
      }
    }

    @include media-breakpoint-up(lg) {
      margin-bottom: 40px;
    }
  }

  .modal-title {
    color: $black;
    font-size: 24px;
    font-weight: 600;
  }

  .modal-body {
    padding: 0;
  }

  .form-group {
    margin-bottom: 30px;
  }

  .control-label {
    color: #2b2f36;
    font-size: 15px;
    margin-bottom: 10px;

    @include media-breakpoint-up(lg) {
      font-size: 20px;
    }
  }

  .form-control {
    font-size: 14px;
    border: 1px solid #979797;
    border-radius: 8px;

    &:focus {
      box-shadow: none;
    }

    &:placeholder {
      color: #868f9b;
    }

    &.is-invalid,
    &.is-invalid:focus {
      border-color: $color-danger;
    }

    @include media-breakpoint-up(lg) {
      padding: 0 20px;
      height: 50px;
      margin-bottom: 10px;
    }
  }

  .modal-footer {
    border: none;
    padding: 0;
    margin-top: 20px;

    .btn {
      min-width: 120px;
    }
  }
}

#loginModal {
  .modal-header h5:before {
    content: url('~/assets/img/lock.svg');
  }
}

#registerModal {
  .modal-header h5:before {
    content: url('~/assets/img/register.svg');
  }
}

#forgotPwModal {
  .modal-header h5:before {
    content: url('~/assets/img/lock.svg');
  }
}

.tomo-modal--follow {

  .control-label {
    display: block;
  }
  
  @include media-breakpoint-up(md) {

    .modal-dialog {
      max-width: 600px;
    }
  }
}
