
.tomo-nav {

  &__logo {
    max-width: 138px;
  }

  @include media-breakpoint-down(lg) {
    #nav_collapse {
      display: block;
    }
  }

  /* Landscape phones and portrait tablets */
  @media (min-width: 767px) {
    padding: 0px;
    min-height: 94px;

    .nav-item {
      > a {
        padding: 33px 20px !important;

        &.active {
          border-bottom: 4px solid $blue
        }
      }

      &.active {
        border-bottom: 4px solid $blue
      }
    }

    .tomo-nav__wrapper {
      min-height: 94px;
    }
  }
}
