.tomo-pagination {
  margin: 30px 0;

  .page-item {
    margin-right: 15px;

    &.active .page-link {
      color: $white;
      background-color: $color-primary;
    }

    &:first-child,
    &:nth-child(2),
    &:nth-last-child(2),
    &:last-child {
      font-size: 0;
      
      span:before {
        line-height: 30px;
        display: inline-block;
        vertical-align: middle;

        @extend %tm-icon;
      }
    }

    &:first-child span:before {
      font-size: 20px;
      content: '\e905';
    }

    &:nth-child(2) span:before {
      font-size: 10px;
      content: '\e908';
    }

    &:nth-last-child(2) span:before {
      font-size: 10px;
      content: '\e907';
    }

    &:last-child span:before {
      font-size: 20px;
      content: '\e906';
    }
    
    .page-link {
      color: $color-text;
      background-color: $white;
      height: 30px;
      min-width: 30px;
      line-height: 30px;
      border-radius: 30px;
      text-align: center;
      box-shadow: 8px 8px 40px 0 rgba(0, 0, 0, .07);
      border: 0px;
      padding: 0 5px;

      &:hover {
        color: $white;
        background-color: $color-primary;
      }
    }
  }

  @include media-breakpoint-up(md) {
    margin-bottom: 50px;
  }

  @include media-breakpoint-up(lg) {
    margin-bottom: 100px;
  }
}
