.tomo-readmore {
  display: inline-block;
  margin-bottom: 0;

  .tomo-readmore__toggle {
    display: inline-block;
    vertical-align: 1px;

    a {
      color: currentColor;
    }
  }

  &--is-open {
    display: inline-block;
    vertical-align: top;
    width: 90%;
  }
}