.tomo-table {
  width: 100%;

  thead {
    display: none;

    tr {
      color: #000;
    }

    @include media-breakpoint-up(lg) {
      display: block;
      margin-bottom: 15px;

      tr {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
        padding: 0 20px;
      }
    }
  
    @include media-breakpoint-up(xl) {
      tr {
        padding: 0 40px;
      }
    }
  }

  tbody {

    tr {
      display: block;
      border-radius: 10px;
      background-color: #fff;
      box-shadow: 8px 8px 40px 0 rgba(0, 0, 0, .07);
      padding: 20px;
      margin-bottom: 20px;
  
      @include media-breakpoint-up(lg) {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
      }

      @include media-breakpoint-up(xl) {
        padding: 30px 40px;
      }
    }

    @include media-breakpoint-up(sm) {
      display: grid;
      grid-template-columns: 100%;
      grid-column-gap: 15px;
    }

    @include media-breakpoint-up(md) {
      grid-template-columns: 50% 50%;
    }

    @include media-breakpoint-up(lg) {
      display: block;
    }
  }

  td {
    display: grid;
    grid-template-columns: 30% auto;
    grid-column-gap: 15px;
    word-break: break-word;
    margin-bottom: 5px;

    @include media-breakpoint-up(lg) {
      display: inline-block;
    }
  }

  td:before {
    content: attr(data-label);
    display: inline;
    text-align: right;
    font-weight: 600;
    color: #000;

    @include media-breakpoint-up(lg) {
      display: none;
    }
  }

  a {
    color: $color-primary;
  }

  small {
    display: inline-block;
    margin-left: 5px;
  }

  p {
    margin: 0;
  }

  .text-truncate {
    display: inline-block;
    max-width: 9rem;

    @include media-breakpoint-only(sm) {
      max-width: 12rem;
    }

    @include media-breakpoint-up(lg) {
      max-width: 10rem;
    }

    @include media-breakpoint-up(xl) {
      max-width: 12rem;
    }

    @include media-breakpoint-up(xxl) {
      max-width: 15rem;
    }
  }

  i[class*="tm-icon-"] {
    line-height: 1.5;
    display: inline-block;
    vertical-align: top;
  }
}

.tomo-table--blocks {

  thead tr,
  tbody tr {

    @include media-breakpoint-up(lg) {
      grid-template-columns: 12% 18% 5% 30% 20% 15%;
    }

    @include media-breakpoint-up(xxl) {
      grid-template-columns: 12% 14% 5% 34% 20% 15%;
    }
  }

  .text-truncate {

    @include media-breakpoint-up(lg) {
      max-width: 12rem;
    }

    @include media-breakpoint-up(xl) {
      max-width: 15rem;
    }

    @include media-breakpoint-up(xxl) {
      max-width: 100%;
    }
  }
}

.tomo-table--accounts {

  thead tr,
  tbody tr {

    @include media-breakpoint-up(lg) {
      grid-template-columns: 10% 40% 40% 10%;
    }

    @include media-breakpoint-up(xl) {
      grid-template-columns: 10% 40% 42% 8%;
    }
  }

  .text-truncate {

    @include media-breakpoint-up(lg) {
      max-width: 15rem;
    }

    @include media-breakpoint-up(xl) {
      max-width: 18rem;
    }

    @include media-breakpoint-up(xxl) {
      max-width: 100%;
    }
  }
}

.tomo-table--tokens {

  td {
    grid-template-columns: 35% auto;

    @include media-breakpoint-up(sm) {
      grid-template-columns: 40% auto;
    }

    @include media-breakpoint-up(md) {
      grid-template-columns: 30% auto;
    }
  }

  thead tr,
  tbody tr {

    @include media-breakpoint-up(lg) {
      grid-template-columns: 25% 22% 8% 30% 10% 5%;
    }

    @include media-breakpoint-up(xl) {
      grid-template-columns: 30% 20% 10% 25% 10% 5%;
    }

    @include media-breakpoint-up(xxl) {
      grid-template-columns: 35% 15% 8% 27% 10% 5%;
    }
  }

  .text-truncate {

    @include media-breakpoint-up(xl) {
      max-width: 15rem;
    }

    @include media-breakpoint-up(xxl) {
      max-width: 100%;
    }
  }
}

.tomo-table--transactions {
  thead tr,
  tbody tr {

    @include media-breakpoint-up(lg) {
      grid-template-columns: 15% 10% 15% 14% 4% 16% 15% 11%;
    }

    @include media-breakpoint-up(xl) {
      grid-template-columns: 17% 10% 12% 17% 4% 17% 13% 10%;
    }
  }

  .text-truncate {
    max-width: 8.75rem;
    
    @include media-breakpoint-up(lg) {
      max-width: 7rem;
    }
    
    @include media-breakpoint-up(xl) {
      max-width: 9rem;
    }
    
    @include media-breakpoint-up(xxl) {
      max-width: 11rem;
    }
  }
}

.tomo-table--token-tx {

  thead tr,
  tbody tr {

    @include media-breakpoint-up(lg) {
      grid-template-columns: 15% 12% 15% 5% 15% 31% 7%;
    }

    @include media-breakpoint-up(xl) {
      grid-template-columns: 16% 12% 16% 5% 16% 25% 10%;
    }
  }

  .text-truncate {
    max-width: 8.75rem;
    
    @include media-breakpoint-up(lg) {
      max-width: 7rem;
    }
    
    @include media-breakpoint-up(xl) {
      max-width: 9rem;
    }
    
    @include media-breakpoint-up(xxl) {
      max-width: 11rem;
    }
  }
}

.tomo-table--events {

  tbody tr {
    padding: 40px 20px 0;
    margin-bottom: 0;

    &:first-child {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:last-child {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  td {
    display: block;
    margin-bottom: 20px;

    &:before {
      display: block;
      text-align: left;
    }

    &:last-child {
      border-bottom: 1px solid $color-text;
      margin-bottom: 0;
      padding-bottom: 20px;
    }
  }

  tr:last-child td:last-child {
    border-bottom: none;
  }

  @include media-breakpoint-up(sm) {

    tbody {
      display: block;

      tr {
        padding-left: 40px;
        padding-right: 40px;
      }
    }
  }

  @include media-breakpoint-up(lg) {

    thead tr {
      padding: 0 40px;
    }

    thead tr,
    tbody tr {
      grid-template-columns: 40% 20% 40%;
    }

    td:before {
      display: none;
    }

    td {
      border-bottom: 1px solid $color-text;
      margin-bottom: 0;
      padding-bottom: 20px;
    }

    tr:last-child td {
      border-bottom: none;
    }
  }
}