.tomo-tabs {
  margin-top: 30px;

  @include media-breakpoint-up(md) {
    margin-top: 50px;
  }

  .nav-tabs {
    outline: none;
    border: none;
    margin-bottom: 40px;

    .nav-item {
      &:first-child {
        .nav-link {
          padding-left: 0px;
        }
      }
    }

    .nav-link {
      background-color: transparent;
      border-color: transparent transparent #dadbdd;
      border-bottom-width: 4px;
      border-top-width: 0px;
      border-left-width: 0px;
      border-right-width: 0px;
      color: $text-muted;

      &.active {
        border-bottom-color: $color-primary;
        color: $color-primary;
      }

      @include media-breakpoint-up(md) {
        padding: 15px 40px !important;
      }
    }
  }
}
