.b-table {
  thead, tfoot {
    th {
      font-weight: 400;
    }
  }
}

.tm__no_border {
  td, th {
    border: none;
  }

  td {
    padding: 20px;
  }

  tr {
    td:first-child {
      padding-left: 0px;
      color: $text-muted;
    }
  }
}

.tm__icon {
  height: 80px;
  width: 80px;
}

.tm__block_header {
  margin-bottom: 20px;
}

.tm__table_items {
  margin-left: -30px;
  margin-right: -30px;
}

.tm__table {
  display: table;
  width: 100%;

  .tm__table_heading {
    padding: 0px 0px 16px;
    text-align: center;
  }

  .tm__table_body {
    margin-right: 15px;
    margin-left: 15px;
  }

  .tm__table_row {
    box-shadow: 8px 8px 40px 0 rgba(0, 0, 0, 0.07);
    margin-bottom: 20px;

    .tm__table_cell {
      text-align: center;
      overflow: auto;

      &:first-child {
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        overflow: visible;
      }

      &:last-child {
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
      }
    }
  }

  .tm__double {
    min-height: 108px !important;
  }

  .tm__table_cell {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background: $white;
    line-height: 28px;

    i {
      font-size: 20px;
      line-height: 28px;

      &.tm-icon-contract {
        display: block;
        float: left;
      }
    }
  }

  &.table__no_shadow {
    .tm__table_row {
      margin-bottom: 0px !important;

      &:last-child {
        border-bottom: none;
      }
    }

    .tm__table_cell {
      border-radius: 0px !important;
      background: transparent;
    }
  }
}