.page-item {
  margin-right: 20px;
  span, a {
    border-radius: 50% !important;
    min-width: 38px;
    text-align: center;
    box-shadow: 8px 8px 40px 0 rgba(0, 0, 0, 0.07);
    border: 0px;
  }
}
