.tomo-total-items {
  color: $black;
  font-size: 20px;
  margin-bottom: 40px;
}

.text-danger {
  color: $color-invalid !important;
}

.address__tag {
  display: inline-block;
  width: 132px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  vertical-align: bottom;
}


.tomo-body-wrapper.is__homepage {
  background: url('~/assets/img/bg-image.png');
}

.stat__box {
  padding: 0 70px;
  display: inline-block;

  a {
    &:hover {
      color: #34a1ff;
    }
  }
}