.text-xs {
  font-size: .75rem;
}

.text-sm {
  font-size: .875rem;
}

.text-base {
  font-size: 1rem;
}

.text-lg {
  font-size: 1.125rem;
}

.text-xl {
  font-size: 1.25rem;
}

.text-2xl {
   font-size: 1.5rem;
}

.text-3xl {
  font-size: 1.875rem;
}

.text-4xl {
font-size: 2.25rem;
}

.text-5xl {
font-size: 3rem;
}

.bg__none {
  background: transparent !important;
}

.address__tag {
  display: inline-block;
  width: 132px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  vertical-align: bottom;
}

.tm__total {
  /* Landscape phones and portrait tablets */
  @media (min-width: 768px) {
    font-size: 20px;
    color: $black;
    margin-bottom: 40px;
  }
}

/* Landscape phones and portrait tablets */
@media (min-width: 768px) {
  .tm__body_wrapper {
    margin-top: 80px;
    margin-bottom: 80px;
  }
}

.tm__body_wrapper.is__homepage {
  background: url('~/assets/img/bg-image.png')
}

footer {
  margin-bottom: 50px;
}

.jumbotron {
  padding: 15rem 2rem;
}

.stat__box {
  padding: 0 70px;
  display: inline-block;

  a {
    &:hover {
      color: #34a1ff;
    }
  }
}

.search__form {
  margin-bottom: 60px;

  .input-group-prepend {
    .btn {
      height: 60px;
      width: 60px;
      border-radius: 50%;
      box-shadow: 8px 8px 40px 0 rgba(0, 0, 0, 0.18);
      margin-right: 25px;
    }
  }

  .form-control {
    box-shadow: 8px 8px 40px 0 rgba(0, 0, 0, 0.07);
    border-radius: 100px !important;
    padding: 0.375rem 40px;
    border: none !important;

    &::placeholder {
      color: rgb(167, 167, 167) !important;
    }
  }

  &.mini {
    margin-bottom: 0px !important;

    .form-control {
      max-width: 200px;
    }
  }
}