/* Dark Mode */
$color-primary-dark: #30ddd8;
$color-text-dark: #7573a6;

body.dark-mode {
    background-color: #1d1e31;

    a {
        color: $color-text-dark;

        &:hover {
            color: $color-primary-dark;
        }
    }
    
    .text-muted {
        color: #62618c !important;
    }

    .tomo-nav {
        background-image: linear-gradient(-135deg,#373658,#40406a);

        .nav-item {
            &.active .nav-link,
            &.show .nav-link {
              color: $color-primary-dark;
            }
          }        

        .nav-item .nav-link {
            color: #aca9c4;

            &.active,
            &:hover {
                color: $color-primary-dark;
            }
        }

        @include media-breakpoint-up(lg) {

            .nav-item .nav-link:before {
                background-color: $color-primary-dark;
            }
        }

        @include media-breakpoint-down(md) {

            #nav_collapse {
                background-color: transparent;
                background-image: linear-gradient(-135deg,#2e2e4b,#323252);
            }

            .nav-item {
                border-bottom-color: #47475f;
            }
        }
    }

    .tomo-nav .dropdown-menu {
        background-color: transparent;
        background-image: linear-gradient(-135deg,#2e2e4b,#323252);

        @include media-breakpoint-down(md) {
            border-top-color: $color-text-dark;
        }
    }

    .tomo-nav .dropdown-item {
        background-color: transparent !important;
        border-bottom-color: #47475f;

        &:hover,
        &:focus {
            color: $color-primary-dark;
            outline: none;
        }
    }

    .tomo-nav__toggle {
        path {
            stroke: $color-text-dark;
        }
    }

    .tomo-footer {
        color: $color-text-dark;

        &__copyright {
            color: $color-text-dark;
        }
        

        &__social i:hover {
            color: #cfcde1;
        }
    }
}