Hi {name}!
<p>Welcome to Tomoscan - Tomochain Block Explorer! Thanks so much for joining us.</p>
<br/>
<p>TomoScan provides a user friendly, details and perfection-oriented user interface for TomoChain block explorer. From a user perspective, TomoScan brings TomoChain’s transparency to users, because all block, transaction, finality, smart contracts, DApp and token information are read from TomoChain and shown to users.</p>
<br/>
<p>That enough, let's explore <a href="https://scan.testnet.tomochain.com/">TomoScan</a></p>
<br/>
<p>Have any questions? Just shoot us an email! We’re always here to help.</p>
<br/>
<p>Cheerfully yours,</p>
<p>TOMO Team</p>
