Hi {name}!
<p> You're receiving this email because you requested a password reset for your TomoScan Account. If you did not request this change, you can safely ignore this email and report to our support team</p>
<br/>
<p> To choose a new password and complete your request, please follow the link below:</p>
<br/>
<p> {link}</p>
<br/>
<p> If it is not clickable, please copy and paste the URL into your browser's address bar.</p>
<br/>
<p> Have any questions? Just shoot us an email! We’re always here to help.</p>
<br/>
<p> Cheerfully yours,</p>
<p> TOMO Team</p>
